<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>My Site - {% block title %}{% endblock %}</title>
        {% include "shared/snippet/styles.html" %}
    </head>
    <body>
        <div id="content">
            <div id="user">
                {% include "shared/snippet/menu-signin.html" %}
            </div>
            {% block content %}
            {% endblock %}
        </div>
        {% include "shared/snippet/footer.html" %}
        {% include "shared/snippet/scripts.html" %}
        {% block script %}{% endblock %}
    </body>
</html>
